
.worksheet .exNode.exRamp .handler {
	cursor: e-resize;
}

.worksheet .focusrect{
	fill: none;
	stroke-width: 5;
	stroke: #009;
}

.worksheet.blur .focusrect{
	stroke: #333;
}

.progress{
	cursor: progress;
}

.hidden {
	display: none;
}

.worksheet{
	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */	
}

.worksheet svg{
	/*outline:none;	*/
}


.worksheet .workspace{
	stroke: none;
	fill: #262626;
}

.worksheet .medGrid{
	stroke: #161616;
	stroke-width: 1;
}

.worksheet .smallGrid{
	stroke: #343434;
	stroke-width: 1;
}

.worksheet .grid{
	stroke: #000;
	stroke-width: 1;
}

.worksheet .cross{
	stroke: #000;
}


/********************************************************************************
	Node
********************************************************************************/
.worksheet .exNode{
	cursor: move;
	stroke: black;
	stroke-width: 1px;
	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}

.zzzzworksheet .exNode rect{
	-webkit-filter: drop-shadow( 15px 15px 15px #000 ); 
    filter: drop-shadow( 5px 5px 5px #000 );
	-webkit-svg-shadow: 0 0 7px #53BE12;
}

.worksheet .exNode .tooltip{
	opacity: 0.3;
	pointer-events : all;
}

.worksheet .exNode text{
	pointer-events : none;
}

.worksheet .exNode .expand{
	pointer-events : all;
}

.worksheet .exNode .expand polygon{
	fill: #fff;
	stroke: none;
	pointer-events : none;
}

.worksheet .exNode .expand rect{
	fill: #666;
	fill-opacity: 0;
	stroke: none;
}

.worksheet .exNode .expand rect:hover{
	fill-opacity: 1;
	cursor: default;
}

.worksheet .exNode.exReroute{
	fill-opacity: 0.5;
	stroke: #fff;
	stroke-width: 1;
}

.worksheet .blur .exNode,
.worksheet .blur .exNode .exPin,
.worksheet .blur .exNode .exPin .textarea,
.worksheet .blur .exNode .expand,
.worksheet .blur .exLink{
	pointer-events : none;
}



/********************************************************************************
	Pin
********************************************************************************/
.worksheet .exNode .exPin{
	pointer-events : all;
	cursor: default;	
}

.worksheet .exNode .exPin.linkable{
	cursor: crosshair;
}

.worksheet .exNode .exPin rect{
	stroke-width: 0;
	stroke-width: 0;
	fill-opacity: 0;
}

.worksheet .exNode .exPin.linkable rect:hover{
	fill-opacity: 1;
}

.worksheet .exNode .exPin .pin{
	fill-opacity: 0;
	pointer-events : none;
}


.worksheet .exNode .exPin.exPinAdd rect{
	cursor: pointer;
}

.worksheet .blur .exNode .exPin.exPinAdd,
.worksheet .blur .exNode .exPin.exPinAdd rect{
	cursor: default;
}
.worksheet .exNode .exPin.exPinAdd rect.pin{
	stroke-width: 0;
	fill-opacity: 1;
	pointer-events : none;
}


.worksheet .exNode .exPin.exPinArray rect.pin{
	stroke-width: 3;
	stroke-dasharray: 3,2;
	pointer-events : none;
}



.worksheet .exNode .exPin circle.pin{
	stroke-opacity:1;
	stroke-width:2;
}

.worksheet .exNode .exPin.exPinExec polygon.pin{
	stroke-width: 2;
	stroke-linejoin: round;
	stroke: #fff;
	fill-opacity: 0;
	pointer-events : none;
}

.worksheet .exNode .exPin.linked .pin{
	fill-opacity: 1 !important;
}

.worksheet .exNode .exPin text.label{
	stroke-width:0;
	font-size: 12px;
	fill: #fff;
	pointer-events: none;
}

/********************************************************************************
	Pin Editors
********************************************************************************/

/* Input */
.worksheet .exNode .exPin.exPinTextInput .textareaWrapper {
	max-height: 150px;
	overflow-y: auto;
	overflow-x: hidden;
	padding: 1px;
	border: 1px solid #555;
	background-color: #000;
}

.worksheet .exNode .exPin.exPinTextInput .textareaWrapper .textarea {
	cursor: text;
    display: table-cell;
	height: 15px;
	width: 19px;
	color: #fff;
	outline: none;
	font-size: 12px;
	font-weight: normal;
	font-family:Arial;
	pointer-events: all;
	white-space: nowrap;
	padding-right: 7px;
	padding-top: 1px;
	/*height: 17px;*/
	
}
@media screen and (-webkit-min-device-pixel-ratio:0) { 

	.worksheet .exNode .exPin.exPinTextInput .textareaWrapper {
		overflow-y: hidden;
	}

}

.worksheet .exNode .exPin.exPinTextInput:focus {
	background-color: #555;
}

/* Select */
.worksheet .exNode .exPin.exPinSelectInput select{
	white-space: pre-wrap;
	background-color:#000;
	border: 1px solid #555;
	color:#eee;
	outline: none;
	height: 20px;
	font-size:10px;
}






/********************************************************************************
	Link
********************************************************************************/
.worksheet .exLink {
	fill: none;
	pointer-events: all;
}

.worksheet .exLinkStart{
	pointer-events: none;
}

.worksheet .exLink.over{
	stroke-width: 6;
}


/********************************************************************************
	Selection
********************************************************************************/
.worksheet .selection .exNode > rect:first-child {
	stroke-width: 3px;
	stroke: url(#selectionHandlerStroke);
}

/********************************************************************************
	tooltip
********************************************************************************/
#exTooltip{
	position: absolute;
	min-height: 15px;
	min-width: 100px;
	max-width: 450px;
	background-color: #555;
	border: 1px solid #555;
	pointer-events: none;
	color: #999;
	display: none;
	padding: 5px;
	font: 12px arial, sans-serif;
	/*cursor: crosshair;*/
}

#exTooltip.visible{
	display: block;
}

#exTooltip span{
	display: block;
}

#exTooltip span:nth-of-type(2){
	font-style:italic;
	color:#fff;
	padding-bottom: 6px;
}

/********************************************************************************
	Other
********************************************************************************/

.worksheet .undoredo{
	pointer-events: all;
}

.worksheet .undoredo:hover{
	opacity: 0.5;
}

.worksheet .undoredo.disabled:hover,
.worksheet .undoredo.disabled{
	opacity: 0.1;
}

/* selection rectangle */
.worksheet .marquee{
	fill: none;
	stroke-dasharray: 5,5;
	stroke: #fff;
	stroke-width: 1;
}

.worksheet .header {
	fill: #000;
	opacity: 0.5;
	pointer-events: none;
	stroke-width: 0;
}

.header .title{
	fill: #fff;
	fill-opacity: 1;
	font-size: 22px;
}
